.DS_Store
*.vdb
*.vdb.gz
*.vdb.bz2
*.vdb.zip
*.vdb.tar
*.vdb.tar.gz
*.vdb.tar.bz2
main
/build/
/build_debug/
/build_release/
/build_release_debug/
/build_release_debug_debug/
/build_release_debug_release/
/build_release_release/
/build_release_release_release/
CMakeLists.txt.user
